[user]
	name = Caleb St-Denis
	email = iocalebst@gmail.com
[core]
	excludesFile = ~/.gitignore_global
	pager = less -+$LESS -RS # enables Mac trackpad scrolling
[gpg]
	format = ssh
[init]
	defaultBranch = trunk
